<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5488/postgres</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">root</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Другие настройки -->
        <property name="hibernate.show_sql">true</property> <!-- Показывать SQL в консоли -->
        <property name="hibernate.format_sql">true</property> <!-- Форматировать SQL -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Создание/обновление схемы -->

        <!-- Регистрация сущностей -->
        <mapping class="khan.pet.entity.WoodType"/>
        <mapping class="khan.pet.entity.WorkpieceDiameter"/>
        <mapping class="khan.pet.entity.Workpiece"/>
        <mapping class="khan.pet.entity.Board"/>
    </session-factory>
</hibernate-configuration>